.footer__link-box {
    margin-right: 18px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .footer__link-box {
        flex-direction: column;
    }
}